<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>square.grid.2x2</string>
		<key>key</key>
		<string>all</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>sparkles</string>
		<key>key</key>
		<string>whatsnew</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>paintpalette</string>
		<key>key</key>
		<string>multicolor</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>message</string>
		<key>key</key>
		<string>communication</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cloud.sun</string>
		<key>key</key>
		<string>weather</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>folder</string>
		<key>key</key>
		<string>objectsandtools</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>desktopcomputer</string>
		<key>key</key>
		<string>devices</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gamecontroller</string>
		<key>key</key>
		<string>gaming</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>antenna.radiowaves.left.and.right</string>
		<key>key</key>
		<string>connectivity</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>car.fill</string>
		<key>key</key>
		<string>transportation</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>person.crop.circle</string>
		<key>key</key>
		<string>human</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>leaf</string>
		<key>key</key>
		<string>nature</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>slider.horizontal.3</string>
		<key>key</key>
		<string>editing</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>textformat</string>
		<key>key</key>
		<string>textformatting</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>playpause</string>
		<key>key</key>
		<string>media</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>command</string>
		<key>key</key>
		<string>keyboard</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cart</string>
		<key>key</key>
		<string>commerce</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>timer</string>
		<key>key</key>
		<string>time</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>heart</string>
		<key>key</key>
		<string>health</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>square.on.circle</string>
		<key>key</key>
		<string>shapes</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>arrow.forward</string>
		<key>key</key>
		<string>arrows</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>a.circle</string>
		<key>key</key>
		<string>indices</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>x.squareroot</string>
		<key>key</key>
		<string>math</string>
	</dict>
</array>
</plist>
